* {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  /* height: 96.3vh;
  background-image: linear-gradient(to right bottom, #D9AFD9, #97D9E1); */
}

.h-100 {
  min-height: 100vh;
}

i {
  -webkit-text-stroke: 0.6px;
  line-height: 0;
}

#bottom-nav span {
  font-size: 0.84rem;
}

#banner {
  height: 120px;
}

.user-offer-payout {
  border-bottom-left-radius: 0.5rem;
}

.bannerImg {}

ul {
  list-style-type: disc;
}

ol, ul {
  list-style-position: inside;
  line-height: 1.8rem;
}

.h-300px {
  height: 300px !important;
}